@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(15, 15, 15);
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    height: auto;
}

.logo img {
    margin-left: 40px;
    width: 130px;
    height: 130px;
}

.navegate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent; 
    position: fixed;    
    width: 100%;
    height: 80px;     
    z-index: 1000;
    transition: 0.4s;
}

.navegate.scrolled {
    background-color: rgb(15, 15, 15);
    transition: 0.4s;
}

.barra-inf {
    list-style: none;
    display: flex;
    margin-right: 350px;
    gap: 20px;
}

.barra-inf a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.2s;
}

.barra-inf a:hover {
    color: rgb(206, 203, 203);
}

.pesquisa {
    position: relative;
    min-width: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pesquisa-input {
    position: absolute;
    padding: 8px;
    border: none;
    background: rgb(15, 15, 15);
    color: white;
    font-size: 14px;
    border-radius: 5px;
    opacity: 0;
    transition: 0.3s;
    width: 0;
    box-sizing: border-box;
}

.pesquisa-input:hover {
    border: 1px solid white;
    transition: width 0.3s ease;
}

.pesquisa.ativa .pesquisa-input {
    width: 250px;   
    opacity: 1;
}

.pesquisa-icon img{
    position: absolute;
    cursor: pointer;
    font-size: 18px;
    width: 70px;
    height: 70px;
    transform: translateY(-50%);
    z-index: 10;
    top: 50%;
}

.perfil {
    margin: 40px;
}

.perfil img {
    width: 40px;
    height: 40px;
    border-radius: 3px;
}

.perfil img:hover {
    transform: scale(1.1);
}

.destaque{
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url(../assets/rick\ and\ morty.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
}

.banner img {
    width: 100%;
    height: auto;
}

.info {
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
}

p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    margin-top: 10px;
}

button {
    height: 40px;
    width: 160px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

#play {
    background-color: white;
}

#play:hover {
    background-color: red;
    color: white;
    transition: 0.3s;
}

#options {
    background-color: rgba(158, 156, 156, 0.719);
    color: white;
}

#options:hover {
    background-color: rgba(189, 184, 184, 0.4);
    transition: 0.3s;
}

.filmes-container {
    padding: 0px 40px;
    margin-top: 40px;
    background-color: rgb(15, 15, 15);
}

.filmes-container + .filmes-container {
    margin-top: -170px;
}

.filmes-container h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.controles-filmes {
    display: flex;
    align-items: center;
    position: relative;
}

.card-filmes {
    min-width: 200px;
    height: 300px;
    border-radius: 5px;
    text-align: center;
    flex-shrink: 0;
    overflow: hidden;
}

.card-filmes img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.card-filmes img:hover {
    transform: scale(1.03);
    transition: 0.3s;
    cursor: pointer;
}

.card-filmes h3 {
    font-size: 14px;
    margin: 5px;
    overflow: hidden;
    padding: 5px;
}

.owl-carousel {
  overflow: hidden;
}
